@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h3 class="display-4">Merhaba</h3>
    <p>Yiğit Akü A.Ş İş görüşmesi neticesinde verilen task tamamlanmış olup Personel İşlemleri sayfasındadır. Projede "onion ve DDD mimari" yaklaşımı esas alınmış olup "ASP.NET Core MVC 7.0" projesidir. Projede Veri tabanı olarak MSSQL kullanılmıştır.Veri tabanı işlemleri ise "Entity FrameWork Core" ile kurgulanmıştır. OOP Prensipleri uygulanmış SOLİD prensiplerine bağlı kalınmıştır </p>
    <h6 class="display-4">Projede Kullanılan Teknolojiler</h6>
    <ul>
        <li>Onion ve DDD Mimari yaklaşım</li>
        <li>Repository Design Pattern</li>
        <li>Model View Controller Design Pattern</li>
        <li>OOP</li>
        <li>EF Core</li>
        <li>ASP.NET Core FrameWork 7.0</li>
        <li>AutoMapper</li>
        <li>FluentValidation</li>
        <li>DataAnnotation</li>
        <li>MSSQL</li>
        <li>WebApi</li>
    </ul>

</div>
