<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YigitAkuEmployee</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/YigitAkuEmployee.styles.css" asp-append-version="true" />
    <!-- Plugins css -->
    <link href="~/css/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/css/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/css/datatables/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="~/css/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


    <!-- App css -->
    <link href="~/css/datatables/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/datatables/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/datatables/theme.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img src="/assets/image/yigit-aku-logo_freelogovectors.net_.png" alt="Yiğit Akü" style="height:50px;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">Personel Listesi</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - YigitAkuEmployee - <a href="https://www.linkedin.com/in/altuğ-aytimur-2215bb114" target="_blank">Fevzi Altuğ Aytimur</a>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- jQuery  -->
    <script src="~/js/datatables/jquery.min.js"></script>
    <script src="~/js/datatables/bootstrap.bundle.min.js"></script>
    <script src="~/js/datatables/metismenu.min.js"></script>
    <script src="~/js/datatables/waves.js"></script>
    <script src="~/js/datatables/simplebar.min.js"></script>

    <!-- third party js -->
    <script src="~/js/datatables/jquery.dataTables.min.js"></script>
    <script src="~/js/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/js/datatables/dataTables.responsive.min.js"></script>
    <script src="~/js/datatables/responsive.bootstrap4.min.js"></script>
    <script src="~/js/datatables/dataTables.buttons.min.js"></script>
    <script src="~/js/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/js/datatables/buttons.html5.min.js"></script>
    <script src="~/js/datatables/buttons.flash.min.js"></script>
    <script src="~/js/datatables/buttons.print.min.js"></script>
    <script src="~/js/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/js/datatables/dataTables.select.min.js"></script>
    <script src="~/js/datatables/pdfmake.min.js"></script>
    <script src="~/js/datatables/vfs_fonts.js"></script>
    <!-- third party js ends -->
    <!-- Datatables init -->
    <script src="~/js/datatables/datatables-demo.js"></script>
    <script src="~\js\datatables\datatables.bootstrap4.js"></script>
    <script src="~\js\datatables\jquery.datatables.min.js"></script>
    <!-- App js -->
    <script src="~/js/datatables/theme.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
